<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet", type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1 class="color-green" th:text="${title}"></h1>
<h2 class="color-blue">Use static style css</h2>
<img th:src="@{/images/dev.png}">
<div th:text="${result}"></div>
<ul>
    <li><a th:href="@{/variables/string/} + 'Hellooooo!!!!'">/variables/string/Hellooooo!!!!</a></li>
    <li><a th:href="@{/variables/string/} + 'how are you?'">/variables/string/how are you?</a></li>
    <li><a th:href="@{/variables/string/} + 'The phone' + '/' + 7">/variables/string/The phone /7</a></li>
    <li><a th:href="@{/variables/string/} + ${title} + '/9'">/variables/string/The title/9</a></li>
</ul>
</body>
</html>